@import url(normalize.css);
/* clear float */
.clearfix{*zoom:1;}
.clearfix:after{display:block; overflow:hidden; clear:both; height:0; visibility:hidden; content:".";}
img{vertical-align: top;}
h1,h2,h3,h4,h5,h6{
	margin:0;
	padding:0;
	font-weight: normal;
}
ol,ul{
	list-style:none;
}
body{
	font-size: 12px;
	color:#333333;
	font-family: "Microsoft Yahei",Arail;
}
a{
	color:#333333;
	text-decoration: none;
}
a:hover{
	text-decoration: underline;
}
.clear(){
	overflow: hidden;
	*zoom:1;	
}
.parea{
	width:1175px;
	margin:0 auto;
}
.phead{
	height:42px;
	line-height: 42px;
	font-size: 14px;
	border-bottom: 1px solid #dddddd;
	background: #fafafa;
	.hot-phone{
		float: left;
		padding-left:30px;
		background:url(../ybimg/tele-ico.png) no-repeat 0 center;
	}
	.right-tools{
		float: right;
		.login-link{color:#58b7e5;margin-left: 10px;}
		.spline{
			color:#dfdfdf;
			margin:0 15px;
		}
	}
}
.head-search{
	margin:45px auto 15px;
	.logo{
		float: left;
		margin-right: 20px;
	}
	.search{
		float: left;
		width:780px;
		margin-top: 10px;
		.search-input{
			width:650px;
			height:38px;
			border:1px solid #dddddd; 
			vertical-align: middle;
		}
		.search-btn{
			font-size: 16px;
			color:#fff;
			background: #9fc939;
			width:104px;
			height:40px;
			border:0;
			vertical-align: middle;
		}
	}
}
.pbanner{
	height:138px;
	background: #61d5db;
}
.pmain-content{
	.layout-left{
		float: left;
		width:865px;
	}
	.layout-right{
		float: right;
		width:250px;
		padding-left:25px;
		border-left: 1px solid #dddddd;
	}
}
.company-card-1{
	position: relative;
	border:1px solid #59c5f4;
	background: #e9f7fd;
	position: relative;
	padding-right:40px;
	.authen-flag{
		position: absolute;
		right:0;
		top:-1px;
		width:108px;
		height: 108px;
		background: url(../ybimg/athen1.png) no-repeat 0 0;
	}
	.pic-block{	
		float: left;	
		width:250px;
		height:265px;		
		background: #fff;
		margin-right:35px;
		overflow: hidden;
		img{
			width:250px;
			height:265px;
		}
	}
	h2{
		margin:20px 0;
		font-size: 22px;
		color:#2dabe2;
		a{
			color:#2dabe2;
		}
	}
	.lst-c1{
		color:#5d5d5d;
		font-size: 14px;
		li{
			.num{
				width:17px;
				height:17px;
				line-height: 18px;
				margin-right:10px;
				font-size: 12px;
				text-align: center;
				display: inline-block;
				color:#fff;
				background: url(../ybimg/list-ico.png) 0 0;
			}
			line-height:28px;
		}
	}
	.other-info{
		color:#5d5d5d;
		line-height: 25px;
		margin-top: 15px;
		.info-item{
			margin-right:35px;
		}
	}
}

.company-card-2{
	position: relative;
	border:1px solid #ddd;
	position: relative;
	margin-top: -1px;
	overflow: hidden;
	*zoom:1;
	.authen-flag{
		position: absolute;
		right:0;
		top:-1px;
		width:84px;
		height: 84px;
		background: url(../ybimg/athen2.png) no-repeat 0 0;
	}
	.pic-block{	
		float: left;	
		width:250px;
		height:180px;
		margin-right:35px;
		overflow: hidden;		
		img{
			width:250px;
			height:180px;
		}
	}
	h2{
		font-size: 18px;
		color:#464646;
		line-height: 52px;
		background: #f2f2f2;
		padding:0 35px;
		a{
			color:#464646;
		}
	}	
	.lst-c2{
		color:#5d5d5d;
		line-height: 25px;
	}
	.other-info{
		color:#5d5d5d;
		line-height: 20px;
		padding-top: 5px;
		margin: 5px 5px 0 285px;
		border-top: 1px solid #ddd;
		.info-item{
			margin-right:35px;
		}		
	}	
}

.company-lst-3{
	padding: 0 15px;
	border:1px solid #ddd; 
}
.authen-s-flag1{
	display: inline-block;
	width:45px;
	height:15px;
	line-height: 15px;
	font-size: 12px;
	color:#fff;
	vertical-align: middle;
	margin-left:5px;
	background: url(../ybimg/l-list-rz.png) no-repeat 0 0;
}
.authen-s-flag2{
	display: inline-block;
	width:45px;
	height:15px;
	line-height: 15px;
	font-size: 12px;
	color:#fff;
	margin-left:5px;	
	vertical-align: middle;
	background: url(../ybimg/l-list-rz2.png) no-repeat 0 0;
}
.company-card-3{
	margin-top:-1px;
	border-top:1px solid #ddd;
	.pic-block{
		float: left;
		text-align: center;
		width:90px;
		height:100px;
		overflow: hidden;
		img{
			display: inline-block;
			vertical-align: middle;
			width:70px;
			height: 70px;
			border: 1px solid #ddd;
		}
		i{
			display: inline-block;
			height:100%;
			vertical-align: middle;
		}
	}
	h2{
		font-size: 14px;
		line-height: 40px;

	}
	.other-info{
		line-height: 22px;
		color:#5d5d5d;
	}
}

.company-lst-1,.company-lst-2,.company-lst-3{
	*zoom:1;
	margin-top: 25px;
}
.r-link{
	height:45px;
	line-height: 45px;
	font-size: 16px;
	color:#fff;
	background: #2dabe2;
	text-align: center;
	display: block;
}
.r-link2{
	background: #9fc939;
}
.r-mod{
	margin-top:40px;
	.r-mod-til{
		height:28px;
		line-height: 28px;
		padding-left:30px;
		margin-left: -28px;
		background: url(../ybimg/title-ico.png) no-repeat 0 center;
		h2{
			padding-left:38px;
			background: url(../ybimg/l-title-1.png) no-repeat 0 center;			
			font-size: 15px; 
		}
	}
	.r-mod-bd{
		margin-top:20px;
	}
}

.r-m1{
	margin-top: 20px;
}

.r-m1{
	margin-top: 20px;
}
.r-m2{
	 .r-link2{
		margin-bottom: 10px;
	 }
}
.wx-mod{
	.r-mod-bd{
		.clear();
		border:1px solid #ddd;
		padding:20px 0 20px 10px;
		.pic{
			float: left;
			width:80px;
			margin-right:10px;
			img{
				width:80px;
				height:80px;
			}
		}
		h3{
			color:#77c2e9;
		}
		p{
			margin-top:15px;
			line-height: 20px;
		}
	}
}
.lst-rc{
	li{
		.clear();
		margin-bottom: 10px;
	}
	.pic{
		float: left;
		width:42px;
		height:42px;
		border:1px solid #ddd;
		margin-right:10px;
	}
	h2{
		color:#5d5d5d;
		font-size: 14px;
	}
}
.pfoot{
	margin-top: 40px;
	background: #565e69;
	padding: 100px 0;
	.flinks{
		color:#c7c8ca;
		border-top:1px solid #3f4650;
		width:950px;
		margin: 0 auto;
		.clear();
		padding: 20px 20px 25px 20px;
		a{
			color:#c7c8ca;
		}
		.flinks-l{
			float: left;
		}
		.flinks-r{
			float: right;
		}		

	}
	.frel-lst{
		text-align: center;
		ul{
			*zoom:1;
		}
		li{display: inline-block;margin-left:10px;*display: inline;}
	}

}
